absl-py==2.1.0
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asteroid-filterbanks==0.4.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
black==24.8.0
bleach==6.1.0
blinker==1.8.2
bqplot==0.12.44
branca==0.8.1
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
colorlog==6.8.2
colour==0.1.5
comm==0.2.2
contourpy==1.1.1
cryptography==42.0.8
cv==1.0.0
cycler==0.12.1
Cython==3.0.11
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@9604f5995cc628619f0e4fd913453b4d7d61db3f
diGraph==0.1.4
distro==1.9.0
docopt==0.6.2
earthengine-api==1.1.5
eerepr==0.1.0
einops==0.8.0
exceptiongroup==1.2.1
executing==2.0.1
faicons==0.2.2
fastjsonschema==2.19.1
filelock==3.14.0
fiona==1.10.1
Flask==3.0.3
Flask-Cors==5.0.0
folium==0.18.0
fonttools==4.50.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
fvcore==0.1.5.post20221221
geemap==0.34.3
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-storage==3.0.0
google-crc32c==1.6.0.dev2
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpcio==1.70.0
h11==0.14.0
htmltools==0.5.3
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.3
hydra-core==1.3.2
HyperPyYAML==1.2.2
idna==3.7
imageio==2.34.1
import-ipynb==0.2
importlib_metadata==7.1.0
importlib_resources==6.4.0
inference-sdk==0.36.0
iopath==0.1.9
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.4
ipyleaflet==0.19.2
ipython==8.12.3
ipytree==0.2.2
ipywidgets==8.1.5
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
json5==0.9.25
jsonpickle==4.0.1
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-leaflet==0.19.2
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.2.5
lightning-utilities==0.11.2
linkify-it-py==2.0.3
llvmlite==0.41.1
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
notebook==7.1.3
notebook_shim==0.2.4
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.28.0
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
optuna==3.6.1
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.1
plotly==5.24.0
pooch==1.8.2
portalocker==3.0.0
primePy==1.3
prometheus_client==0.20.0
prompt-toolkit==3.0.36
proto-plus==1.26.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyannote.audio==3.2.0
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==16.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.7
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.1
Pygments==2.17.2
pyparsing==3.1.2
pyperclip==1.9.0
pyshp==2.3.1
PySocks==1.7.1
pyspark==3.5.3
python-box==7.2.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-multipart==0.0.9
pytorch-lightning==2.2.5
pytorch-metric-learning==2.5.0
pytubefix==6.12.0
pytz==2024.1
pyvis==0.3.2
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==26.0.2
qtconsole==5.5.1
QtPy==2.4.1
questionary==2.0.1
rasterio==1.3.11
ratelim==0.1.6
rdflib==7.0.0
referencing==0.35.0
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
ridgeplot==0.1.25
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.0
scooby==0.10.0
seaborn==0.13.2
selenium==4.22.0
semver==3.0.2
Send2Trash==1.8.3
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
shiny==1.1.0
shinywidgets==0.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snuggs==1.4.7
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SPARQLWrapper==2.0.0
speechbrain==1.0.0
SpeechRecognition==3.10.4
SQLAlchemy==2.0.30
stack-data==0.6.3
starlette==0.38.5
statsmodels==0.14.1
streamlit==1.35.0
streamlit_folium==0.22.1
supervision==0.25.1
sympy==1.12.1
tabulate==0.9.0
tenacity==8.4.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2023.7.10
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.4.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.4.1
torchmetrics==1.4.0.post0
torchvision==0.19.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
traittypes==0.2.1
transformers==4.41.2
trio==0.25.1
trio-websocket==0.11.1
typer==0.12.3
typer-cli==0.12.0
typer-slim==0.12.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
uc-micro-py==1.0.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.30.6
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wsproto==1.2.0
xyzservices==2024.9.0
yacs==0.1.8
yarl==1.9.4
zipp==3.18.1
